<div class="container">

  <mat-spinner class="mt-4" *ngIf="isLoading"></mat-spinner>

  <div class="row mt-3">
    <div class="mx-auto col-12 col-md-10 col-lg-8">

      <mat-card *ngIf="user">
        <div class="row">
          <div class="col">
            <mat-card-title class="text-center">Welcome {{user.firstname}}</mat-card-title>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="image-preview">
              <img [src]="user.imagePath" alt="user avatar">
            </div>

            <form [formGroup]="form" (submit)="onSaveUser()" *ngIf="!isLoading">

              <div class="row">
                <div class="col">
                  <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
                  <input type="file" #filePicker (change)="onImagePicked($event)">
                  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                    <img [src]="imagePreview" [alt]="form.value.title">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <button
                  mat-raised-button
                  color="accent"
                  class="mt-3"
                  type="submit">Edit User picture</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card>

    </div>
  </div>

</div>
