<div class="article">
  <div class="container">

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div *ngIf="articleExist && !isLoading">
      <div class="row mt-4 title">
        <div class="col-12 text-center">
          <h1>{{article.title}}</h1>
          <button *ngIf="userId == article.creator" mat-raised-button class="text-center align-right" color="warn" (click)="onDelete(article.id)">Delete Article</button>
        </div>
      </div>



      <div *ngIf="paragraphsLength >= 1" class="row mt-4">
        <div class="col-10 mx-auto">
          <p>
            <img [src]="article.paragraphs[0].path" [alt]="article.paragraphs[0].alt" class="p-2 paragraphs-image float-right">
            <span class="paragraphs-text">{{article.paragraphs[0].content}}</span>
          </p>
        </div>
      </div>

      <div *ngIf="paragraphsLength >= 2" class="row mt-4">
        <div class="col-10 mx-auto">
          <p>
            <img [src]="article.paragraphs[1].path" [alt]="article.paragraphs[1].alt" class="paragraphs-image float-left mr-3">
            {{article.paragraphs[1].content}}
          </p>
        </div>
      </div>

      <div *ngIf="paragraphsLength >= 3" class="row mt-4">
        <div class="col-10 mx-auto">
          <p>
            <img [src]="article.paragraphs[2].path" [alt]="article.paragraphs[2].alt" class="paragraphs-image float-right">
            <span class="mr-3">{{article.paragraphs[2].content}}</span>
          </p>
        </div>
      </div>

      <div *ngIf="paragraphsLength >= 4" class="row mt-4">
        <div class="col-10 mx-auto">
          <p>
            <img [src]="article.paragraphs[3].path" [alt]="article.paragraphs[3].alt" class="paragraphs-image float-left mr-3">
            {{article.paragraphs[3].content}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
