<div class="container">

  <div class="row mt-3" *ngIf="isLoading">
    <div class="col mx-auto">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div class="mb-2" *ngIf="!isLoading">

    <div class="row">
      <div class="offset-1 col">
        <a mat-raised-button color="primary" routerLink="/albums/create">New Album</a>
      </div>
    </div>

    <div class="row mt-2" *ngIf="albums">
      <div class="col-9 col-sm-9 col-md-6 col-lg-5 col-xl-4 mx-auto" *ngFor="let album of albums.albums">

        <div class="row mt-3">
          <div class="col">
            <mat-card>
              <mat-card-title>{{album.title}}</mat-card-title>
              <div class="image-holder mt-2 col-12 mx-auto">
                <img class="ml-1" [src]="album.images[0].path" [alt]="album.images[0].alt">
              </div>
              <mat-card-footer class="text-center m-2">{{album.created_date | date: 'dd/MM/yyyy'}}</mat-card-footer>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-10 mx-auto">
            <div class="row">
              <div class="col-4 col-md-4 col-lg-4 mx-auto text-center">
                <a *ngIf="userId == album.creator" [routerLink]="['/albums/edit', album._id]" class="mx-auto" mat-raised-button color="primary" style="padding:0!important;">Edit</a>
              </div>

              <div class="col-4 col-md-4 col-lg-4 mx-auto text-center">
                <button mat-raised-button color="primary" (click)="onShow(album._id)">Show</button>
              </div>

              <div class="col-4 col-md-4 col-lg-4 mx-auto text-center">
                <button *ngIf="userId == album.creator" mat-raised-button color="warn" (click)="deleteAlbum(album._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row mt-2" *ngIf="albums.length == 0">
      <div class="col text-center">
        <p class="h3">You haven't yet any album to fetch</p>
      </div>
    </div>

  </div>

</div>
