<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="!isLoading">

    <div class="row">
      <div class="offset-1 col">
        <a mat-raised-button color="primary" routerLink="/albums/create">New Album</a>
      </div>
    </div>

    <div class="row mt-2" *ngIf="albums.length > 0">
      <div class="col-4 mx-auto" *ngFor="let album of albums">
        <div class="row mt-4">
          <div class="col-12">
            <mat-card class="col">
              <mat-card-title class="col">{{album.title}}</mat-card-title>
              <div class="image-holder mt-4 col-12 mx-auto">
                <img class="ml-1" [src]="album.imagesPath[0]" [alt]="album.title" mat-card-image>
              </div>
              <mat-card-footer>{{album.created_date}}</mat-card-footer>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-3 mx-auto text-center">
                  <a *ngIf="userId == album.creator" [routerLink]="['/albums/edit', album.id]" mat-raised-button color="primary">Edit</a>
              </div>

              <div class="col-3 mx-auto text-center">
                  <button mat-raised-button color="primary" (click)="onShow(album.id)">Show</button>
              </div>

              <div class="col-3 mx-auto text-center">
                  <button *ngIf="userId == album.creator" mat-raised-button color="warn" (click)="onDelete(album.id, album.imagesPath)">Delete</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

