<div class="container">

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <ng-container *ngIf="album && !isLoading">

    <div class="row title">
      <div class="col-12 text-center mt-3">
        <h1 class="h3">{{album.title}}</h1>
    </div>
  </div>

  <div class="row">
    <!-- Button that make appear and disappear the container to add a photo -->
    <div class="col-5 col-md-2 col-lg-3 mx-auto">
      <button *ngIf="album && userId === album.creator" mat-raised-button class="text-center" color="primary" (click)="onAdd()">Add a Photo</button>
    </div>

    <!-- Container for add photo, only exist with a min-width of 576px, and if user wants to add a photo -->
    <div class="col-6 col-md-8 col-lg-6 mx-auto add-photo-container" *ngIf="addPhoto">
      <form [formGroup]="form" (submit)="AddPhoto()">
        <div class="row">
          <div class="col-6 mx-auto text-center">
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onPhotoPicked($event)">
          </div>

          <div class="col-6 mx-auto text-center">
            <button
            mat-raised-button
            color="accent"
            type="submit">Add the photo</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Empty containers for layout -->
    <div *ngIf="!addPhoto" class="offset-md-8 offset-lg-6 empty-container"></div>

    <!-- Buttons for redirect to article's components -->
      <div class="col-5 col-md-2 col-lg-3 mx-auto text-right">
        <a
        *ngIf='articleExist'
        mat-raised-button
        color="primary"
        [routerLink]="['/albums/article', album._id]">Show Article</a>

        <a
        *ngIf='!articleExist && userId === album.creator'
        mat-raised-button
        color="primary"
        [routerLink]="['/albums/article/create', album._id]">Create article</a>
      </div>
    </div>

    <!-- Container for add photo, only exist for a max-width of 576px, and if user wants to add a photo -->
    <div *ngIf="addPhoto" class="row mt-2 add-photo-container-cellphone">
      <div class="col-10 mx-auto">
        <form [formGroup]="form" (submit)="AddPhoto()">
          <div class="row">
            <div class="col-6 mx-auto text-center">
              <button mat-stroked-button type="button" (click)="filePicker.click()">Pick photo</button>
              <input type="file" #filePicker (change)="onPhotoPicked($event)">
            </div>

            <div class="col-6 mx-auto text-center">
              <button
              mat-raised-button
              color="accent"
              type="submit">Submit photo</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-2" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid && addPhoto">
      <div class="col-10 col-md-6 col-lg-5 mx-auto">
        <mat-card class="image-preview">
          <img mat-card-image class="mx-auto mt-1" [src]="imagePreview" [alt]="form.value.title">
        </mat-card>
      </div>
    </div>

    <div class="image-paginator" *ngIf="photosToDisplay.length === 4" class="row mt-3">
      <div class="col-11 col-md-3 mx-auto mt-4" *ngFor="let photo of photosToDisplay">
        <button *ngIf="userId === album.creator" mat-raised-button class="text-center ml-3" color="warn" (click)="deletePhoto(photo.path)">X</button>
        <mat-card>
          <img mat-card-image class="mx-auto mt-1 little-picture" [src]="photo.path" [alt]="photo.alt">
        </mat-card>
      </div>
    </div>

    <div class="image-paginator" *ngIf="photosToDisplay.length === 3" class="row mt-3">
      <div class="col-11 col-md-4 mx-auto mt-4" *ngFor="let photo of photosToDisplay">
        <button *ngIf="userId === album.creator" mat-raised-button class="text-center ml-3" color="warn" (click)="deletePhoto(photo.path)">X</button>
        <mat-card>
          <img mat-card-image class="mx-auto mt-1 little-picture" [src]="photo.path" [alt]="photo.alt">
        </mat-card>
      </div>
    </div>

    <div class="image-paginator" *ngIf="photosToDisplay.length === 2" class="row mt-3">
      <div class="col-11 col-md-5 mx-auto mt-4" *ngFor="let photo of photosToDisplay">
        <button *ngIf="userId === album.creator" mat-raised-button class="text-center ml-3" color="warn" (click)="deletePhoto(photo.path)">X</button>
        <mat-card>
          <img mat-card-image class="mx-auto mt-1 medium-picture" [src]="photo.path" [alt]="photo.alt">
        </mat-card>
      </div>
    </div>

    <div class="image-paginator" *ngIf="photosToDisplay.length === 1" class="row mt-3">
      <div class="col-11 col-md-7 mx-auto mt-4" *ngFor="let photo of photosToDisplay">
        <button *ngIf="userId === album.creator" mat-raised-button class="text-center ml-3" color="warn" (click)="deletePhoto(photo.path)">X</button>
        <mat-card>
          <img mat-card-image class="mx-auto mt-1 big-picture" [src]="photo.path" [alt]="photo.alt">
        </mat-card>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col">
        <mat-paginator [length]="totalPhotos" [pageSize]="photosPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
      </div>
    </div>
  </ng-container>

</div>
